@theme inline;

@import "tailwindcss/preflight";
@import "tailwindcss/theme"; /* novo no v4 */
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* globals.css */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans); /* <- CORRETO AQUI */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121214;
    --foreground: #ededed;
  }
}

html {
  @apply font-sans;
}

body {
  background: var(--background);
  color: var(--foreground);
}
